<p>API deprecated</p>
<!-- <div *ngIf="dataService.wellnessLoading">
  <img src="https://github.com/ekwok/genomex/blob/master/DNA-2.2s-200px.gif?raw=true">
</div>
<div *ngIf="!dataService.wellnessLoading">
  <div *ngIf="dataService.wellnessPage === 1">
    <div *ngFor="let x of dataService.reports; let i = index">
      <button class="btn darken-hover border format" (click)="dataService.showReport(i)">
        <span style="float: left">{{x.title}}</span>
        <span style="float: right" class="text-info">{{x.result}}</span>
      </button><br>
    </div>
  </div>
  <div *ngIf="dataService.wellnessPage === 2">
    <button class="btn darken-hover border" style="float: left" (click)="dataService.wellnessPage = 1">&lt; Back</button><br><br>
    <h3>{{dataService.currReport.title}}</h3>
    <div style="text-align: left">
      <h4>Your Result: {{dataService.currReport.result}}</h4>
      <div *ngIf="!dataService.isWellness">
        <hr>
        <h4 style="text-align: center">Healthy Habits for Your Genetics</h4>
        <p>23andMe looked at research participants with a genetic weight predisposition like yours and found certain lifestyle habits that were associated with the largest weight differences.</p>
        <p><b>These habits made the largest difference in people with your genetics:</b></p>
        <div *ngFor="let x of dataService.gpri">
          <div class="card">
            <h4>{{x.name}}</h4>
            <h5>Associated with weighing up to <span class="text-primary">{{x.max_diff_val}}% less</span></h5>
            <p>{{x.max_diff_exp}}</p>
          </div>
        </div>
      </div>
      <div *ngIf="dataService.isWellness">
        <br>
        <h4>Genes:</h4>
        <div *ngFor="let x of dataService.currReport.genes">
          <div class="table-responsive">
            <table class="table table-striped table-bordered">
              <tbody>
                <tr>
                  <th>Name</th>
                  <td>{{x.id}}</td>
                </tr>
                <tr>
                  <th>Chromosome</th>
                  <td>{{x.chromosome}}</td>
                </tr>
                <tr>
                  <th>Overview</th>
                  <td>{{x.gene_overview}}</td>
                </tr>
              </tbody>
            </table>
            <br>
          </div>
        </div>
        <h4>Markers:</h4>
        <div *ngFor="let x of dataService.currReport.markers">
          <div class="table-responsive">
            <table class="table table-striped table-bordered">
              <tbody>
                <tr>
                  <th>ID</th>
                  <td>{{x.id}}</td>
                </tr>
                <tr>
                  <th>Label</th>
                  <td>{{x.label}}</td>
                </tr>
                <tr>
                  <th>Chromosome</th>
                  <td>{{x.chr}}</td>
                </tr>
                <tr>
                  <th>Gene Description</th>
                  <td>{{x.gene_description}}</td>
                </tr>
                <tr>
                  <th>Explanation</th>
                  <td>{{x.explanation}}</td>
                </tr>
                <tr>
                  <th>Mutation Type</th>
                  <td>{{x.known_mutations[0].mutation_type}}</td>
                </tr>
                <tr>
                  <th>Typical Allele</th>
                  <td>{{x.known_mutations[0].typical_allele}}</td>
                </tr>
                <tr>
                  <th>Effect Allele</th>
                  <td>{{x.known_mutations[0].effect_allele}}</td>
                </tr>
                <tr>
                  <th>Your Effect Allele Count</th>
                  <td>{{dataService.currReport.effect_allele_count}}</td>
                </tr>
              </tbody>
            </table>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
