<br>
<div *ngIf="dataService.snpsLoading">
  <img src="https://github.com/ekwok/genomex/blob/master/DNA-2.2s-200px.gif?raw=true">
</div>
<div *ngIf="!dataService.snpsLoading">
  <div *ngIf="dataService.geneticPage === 1">
    <a routerLink="/results/genetic" (click)="dataService.getSNPs('1')">Chromosome 1</a><br>
    <a routerLink="/results/genetic" (click)="dataService.getSNPs('2')">Chromosome 2</a><br>
    <a routerLink="/results/genetic" (click)="dataService.getSNPs('3')">Chromosome 3</a><br>
    <a routerLink="/results/genetic" (click)="dataService.getSNPs('4')">Chromosome 4</a><br>
  </div>
  <div *ngIf="dataService.geneticPage === 2">
    <button class="btn darken-hover border" style="float: left" (click)="dataService.geneticPage = 1">&lt; Back</button><br><br>
    <h3>Single Nucleotide Polymorphisms (SNPs) on Chromosome {{dataService.currChr}}</h3>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>SNP ID</th>
            <th>Is Genotyped <span matTooltip="true if the profile marker has been successfully genotyped for the profile" class="text-primary">[?]</span></th>
            <th>Is Assayed <span matTooltip="true if all profile variants were assayed for the profile marker" class="text-primary">[?]</span></th>
            <th>Is No Call <span matTooltip="true if the assay was performed and there were no results for any of the the profile marker's profile variants" class="text-primary">[?]</span></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let x of dataService.snps; let i = index">
            <td><strong>{{i+1}}</strong></td>
            <td><a routerLink="/results/genetic" (click)="dataService.getSNPDetails(i)">{{x.id}}</a></td>
            <td>{{x.is_genotyped}}</td>
            <td>{{x.is_assayed}}</td>
            <td>{{x.is_no_call}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf="dataService.geneticPage === 3">
    <button class="btn darken-hover border" style="float: left" (click)="dataService.geneticPage = 2">&lt; Back</button><br><br>
    <h3>{{dataService.snpID}}</h3>
    <div style="text-align: left">
      <h4>Variants:</h4>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <th>#</th>
            <th>Chromosome</th>
            <th>Start</th>
            <th>End</th>
            <th>Allele</th>
            <th>Platform Labels</th>
            <th>Dosage</th>
            <th>Is Assayed</th>
            <th>Is No Call</th>
          </thead>
          <tbody>
            <tr *ngFor="let x of dataService.snpVariants; let i = index">
              <td><strong>{{i+1}}</strong></td>
              <td>{{dataService.currChr}}</td>
              <td>{{x.start}}</td>
              <td>{{x.end}}</td>
              <td>{{x.allele}}</td>
              <td>{{x.platform_labels}}</td>
              <td>{{x.dosage}}</td>
              <td>{{x.is_assayed}}</td>
              <td>{{x.is_no_call}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>